/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

#logo img {
	display: none;
}

.sticky-header-shrink #header-wrap #logo img  {
	display: block;
}

@media (min-width: 992px) {
    .footer-img {
		margin-top: -100px;
	}
}